mixin printStep(step)
  div.featurebook-step
    span.featurebook-step-keyword= step.keyword
    span.featurebook-step-text= step.text
      if step.argument && step.argument.type == 'DataTable'
        table.featurebook-data-table
          each row in step.argument.rows
            tr
              each cell in row.cells
                td= cell.value
      if step.argument && step.argument.type == 'DocString'
        pre.featurebook-doc-string= step.argument.content

doctype html
html
  head
    title #{metadata.title} #{metadata.version}
    style
      include stylesheet.css

  body
    div.featurebook-container
      include _metadata.pug
      include _spec-tree.pug

      main.featurebook-main
        div.featurebook-feature-name #{feature.keyword}: #{feature.name}

        div.featurebook-feature-description.featurebook-markdown !{feature.description}

        if feature.children
          each children in feature.children
            if children.type == "Background"
              div.featurebook-background
                div.featurebook-background-name #{children.keyword}: #{children.name}
                each step in children.steps
                  +printStep(step)

            if children.type == "Scenario" || children.type == "ScenarioOutline"
              div.featurebook-scenario-definition
                if children.tags
                  each tag in children.tags
                    div.featurebook-tag= tag.name
                div.featurebook-scenario-definition-name= children.keyword + ': ' + children.name
                div !{children.description}
                each step in children.steps
                  +printStep(step)

                if children.examples
                  each example in children.examples
                    div.featurebook-examples
                      div.featurebook-examples-name= example.keyword + ': ' + example.name
                      table.featurebook-data-table
                        tr
                          each cell in example.tableHeader.cells
                            th= cell.value
                        each row in example.tableBody
                          tr
                            each cell in row.cells
                              td= cell.value
